openapi: 3.1.0
info:
  title: Vision Moderation as a Service
  description: A SaaS that classifies uploaded images for prohibited content.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.visionmoderation.ai/v1
    description: Production server
security:
  - ApiKeyAuth: []

paths:
  /predict:
    post:
      summary: Synchronous single image prediction
      operationId: predict
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequest'
      responses:
        '200':
          description: Successful prediction
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Model-Version:
              $ref: '#/components/headers/X-Model-Version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /predict-batch:
    post:
      summary: Synchronous batch prediction (up to 32 images)
      operationId: predictBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPredictRequest'
      responses:
        '200':
          description: Successful batch prediction
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Model-Version:
              $ref: '#/components/headers/X-Model-Version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPredictResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /predict-async:
    post:
      summary: Asynchronous image prediction
      operationId: predictAsync
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequest'
      responses:
        '202':
          description: Job accepted
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncSubmitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /predictions/{job_id}:
    get:
      summary: Get async prediction result
      operationId: getPrediction
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Prediction result (could be pending or complete)
          headers:
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            X-Model-Version:
              $ref: '#/components/headers/X-Model-Version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  headers:
    X-Request-ID:
      description: Unique identifier for the request
      schema:
        type: string
        format: uuid
    X-Model-Version:
      description: Version of the model used for prediction
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication failed
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    PayloadTooLarge:
      description: Image size exceeds 5 MB limit
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Validation error (e.g. invalid top_k)
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Rate limit exceeded
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: System overloaded or maintenance
      headers:
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    PredictRequest:
      type: object
      required:
        - image
      properties:
        image:
          type: string
          contentEncoding: base64
          description: Base64 encoded image (JPEG, PNG, WebP) up to 5 MB
        top_k:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: Number of top labels to return

    PredictResponse:
      type: object
      required:
        - predictions
      properties:
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/LabelProbability'

    LabelProbability:
      type: object
      required:
        - label
        - probability
      properties:
        label:
          type: string
        probability:
          type: number
          format: float
          minimum: 0
          maximum: 1

    BatchPredictRequest:
      type: object
      description: Map of caller-supplied IDs to prediction requests (max 32)
      additionalProperties:
        $ref: '#/components/schemas/PredictRequest'
      maxProperties: 32
      minProperties: 1

    BatchPredictResponse:
      type: object
      description: Map of caller-supplied IDs to prediction results or errors
      additionalProperties:
        oneOf:
          - $ref: '#/components/schemas/PredictResponse'
          - $ref: '#/components/schemas/Error'

    AsyncSubmitResponse:
      type: object
      required:
        - job_id
      properties:
        job_id:
          type: string
          format: uuid

    AsyncResult:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: [queued, running, completed, failed]
        result:
          $ref: '#/components/schemas/PredictResponse'
        error:
          $ref: '#/components/schemas/Error'

    Error:
      type: object
      required:
        - code
        - message
        - request_id
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        request_id:
          type: string
          format: uuid
